body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:20px }
#cr-stage { border:2px solid black; margin:5px auto; color:white }

#divGUI {
    width: 100%;
    height: 100%;
    visiblity: hidden;
}

div.shipSlot {
	background-image: url("../images/shipSlot.png");
	width: 120px;
	height: 48px;
	display: inline-block;
	margin: 3px 12px;
}
div.powerBar {
	background-color: #1B9916;
	position: relative;
	left: 6px;
	top: 15px;
	width: 0px;
	height: 18px;
}
#divInventory {
	width: 144px;
	height: 144px;
	background-image: url("../images/shipInventory.png");
	padding: 0;
    position: absolute;
    z-index: 5000;
}
div.partBackground {
    width: 48px;
    height: 48px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    z-index: 6000;
}
div.shipPart {
	background-image: url("../images/shipPartBackground.png");
}
div.playerManPart {
    background-image: url("../images/playerPartBackground.png");
}
div.playerParts {
    position: absolute;
    z-index: 5000;
}
#canvasMiniMap {
    position: absolute;
    z-index: 5000;
    opacity: 0.6;
}

.icon {
	width:24px;
	height:24px;
	background:url(../images/lofi_scifi_v2.png) no-repeat;
}

.icon.icon-pelletGun {background-position: -168px -1824px}
.icon.icon-weapon {background-position: -216px -1824px}
.icon.icon-shield {background-position: -48px -1800px}
.icon.icon-battery {background-position: -624px -1920px}
.icon.icon-pistol {background-position:  -216px -1800px}
.icon.part { margin: 12px }
